.header-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 750px;
    /* padding: 100px; */
    background-image: linear-gradient(-130deg,#990000, #e40202);
    background-image: linear-gradient(-130deg,#990000, #e40202),
                      url(/assets/images/header-image.png);
    background-blend-mode: multiply;
    background-size: 100% auto;
    background-position-x: right;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .header-bg::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/wave.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  #menu {
    font-weight: 600;
  }
  #menu .navbar-brand img {
    height: 60px;
  }
  #mainNavbar a {
    color: #FFF;
  }
  #header {
    color: #FFF;
    margin-top: 100px;
  }
  #header h1 {
    max-width: 400px;
    font-weight: 700;
  }
  #header p {
    font-size: 18px;
    font-weight: 600;
  }
  #header .btn.btn-light {
    font-weight: 600;
    color: #990000;
  }
  #header .featured {
    max-width: 500px;
  }
  
  
  
  
  
  @media(max-width: 992px) {
    #header .featured {
      max-width: 100%;
    }
  }